#Fri, 22 Nov 2013 11:59:57 +0100
app.name=kitchenplayer-control

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=97bb4524-76c6-4bbb-812b-3e40a477a565
